SafaItemDetails/SafaItemDetails/Service References/SafaItemDetailsService/ItemDetailsServiceGroup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ItemDetailsServiceGetItemBatchesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceGetItemBatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceGeDetailsFromBarcodeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_journal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceGeDetailsFromBarcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceGetOpenTagCountJournalsRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceGetOpenTagCountJournalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceSafaCreateEmployeeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="middleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dob" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="joiningDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isRetail" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceSafaCreateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceGetCustomerPointsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_cust" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceGetCustomerPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceGetAllItemsRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceGetAllItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceGetItemDetailsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceGetItemDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceCreateTagCountLineRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="journalNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_item" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_barcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_qty" type="xs:decimal" />
        <xs:element minOccurs="0" name="_batch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceCreateTagCountLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceEarnOrRedeemPointsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_cust" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_points" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_webOrderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceEarnOrRedeemPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceCreateEmployeeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="middleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dob" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="joiningDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isRetail" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceCreateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>