SafaItemDetails/SafaItemDetails/Service References/NTServiceRef/ItemDetailsServiceGroup1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ItemDetailsServiceGetOpenTagCountJournalsRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceGetOpenTagCountJournalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceGeDetailsFromBarcodeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_journal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceGeDetailsFromBarcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceGetItemBatchesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceGetItemBatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceCreateTagCountLineRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="journalNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_item" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_barcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_qty" type="xs:decimal" />
        <xs:element minOccurs="0" name="_batch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemDetailsServiceCreateTagCountLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>